  <div class="card text-center w-75 mt-5 pb-4 mx-auto">
    <div class="card-body">
      <h5 class="card-title">登録が完了しました！</h5>
    </div>
    <div class="btn-top">
      <%= link_to 'TOPページに戻る', root_path, class:"btn btn-primary mb-3" , role:"button" %>
    </div>
    <div class="btn-new">
      <%= link_to '続けて登録する', new_garment_path, class:"btn btn-primary" , role:"button" %>
    </div>
  </div>
