
    <div class="bg-body-tertiary p-3 p-sm-5 mb-1">
      <div class="container">
        <h1 class="display-5">Fukulogへようこそ!</h1>
        <p>Fukulogは、あなたの所持している洋服のブランドや素材、サイズなどの情報を記録することができます。<br>登録した情報から洋服を整理したり、オンラインショッピングの際に洋服のイメージの参考にすることができます。</p>
        <a class="btn btn-primary btn-lg" href="#" role="button">洋服を登録する &raquo;</a>
      </div>
    </div>
    <div class="container mt-2">
      <!-- 列の例 -->
      <div class="row">
        <div class="col-md-4 mb-3">
          <div class="card">
            <img src="images/test_image1.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Tシャツ</h5>
              <p class="card-text">カテゴリー：Tシャツ</p>
              <a href="#" class="btn btn-primary">詳細を見る</a>
            </div>
          </div>
        </div>
        <div class="col-md-4 mb-3">
          <div class="card">
            <img src="images/test_image2.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">ダブルテーラードジャケット</h5>
              <p class="card-text">カテゴリー：ジャケット</p>
              <a href="#" class="btn btn-primary">詳細を見る</a>
            </div>
          </div>
       </div>
        <div class="col-md-4 mb-3">
          <div class="card">
            <img src="images/test_image3.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">ハイウエストタックパンツ</h5>
              <p class="card-text">カテゴリー：スラックス</p>
              <a href="#" class="btn btn-primary">詳細を見る</a>
            </div>
          </div>
      </div>

      <hr>
    </div><!-- /.container -->